<h1>Our Artists</h1>
<br>
<% @artists.each do |artist| %>
    <p><%= link_to(artist.name, artist_path(artist.id)) %></p>
    <% end %>
    <br>
    <br>
    <%= link_to "Connect an Artist with an Instrument!", new_artist_instrument_url %>
    <br>
    <br>
    <%= link_to "Add a New Artist!", new_artist_path %>